services:
  valkey:
    container_name: valkey
    image: bitnami/valkey:latest
    environment:
      - VALKEY_PASSWORD=${VALKEY_PASSWORD}
    volumes:
      - valkey_data:/valkey
    ports:
      - "6379:6379"
    networks:
      - servernetwork
    restart: always

  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    networks:
      - servernetwork

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - servernetwork

  jenkins:
    container_name: jenkins
    image: jenkins/agent:latest-jdk25
    environment:
      - TZ=Asia/Seoul
      - JAVA_OPS=-Xmx4g
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /volume1/docker/jenkins:/var/jenkins_home
    ports:
      - "9090:8080"
      - "50000:50000"
    networks:
      - servernetwork

  redisinsight:
    image: redis/redisinsight:latest
    container_name: simple-redisinsight
    ports:
        - 5540:5540
    depends_on:
      - valkey
    restart: always
    networks:
      - servernetwork

networks:
  servernetwork:
    driver: bridge
volumes:
  valkey_data:
  postgres_data:
  jenkins_data: